main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.term_box input[type="checkbox"] {
  width: 17px;
  height: 17px;
  border-radius : 20px;
}

.title_Font{
  font-size : 20px;
  font-weight : 500;
}

.term_box{
  margin-top : 20px;
  margin-left : 20px;
  color : white;
}

.line{
  margin-top : 20px;
  margin-right : 20px;
}

.explain{
  padding-bottom:30px;
}
/* .explain{
  width: 90%;
  height: 83%;
  border-radius: 20px;
  background-color: rgb(103, 93, 80);
  overflow : auto;
} */

div span:hover, div i:hover{
  cursor : pointer;
}

#text_Hidden1,#text_Hidden2, #text_Hidden3, #text_Hidden4 {
  margin-top:4px;
  cursor:pointer;
  color:var(--accent);
}

.information {
  margin-top:8px;
}
.information div:first-child{
  margin-bottom:2px;
}