.category-box a{
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.question a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.learning-from-scratch a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.header a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.btn-box a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}