/* header */
header{
    width: 90%;
    height: 10vh;
  
    margin:auto;
    position: relative; 
    
    display: flex;
    justify-content:space-between;
    align-items: center;

    color:white;

}
.fa-left-long,
.fa-house{
  font-size: 24px;
}

header span.title{
    font-size: 30px;
    margin-top:6px;
}