*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: whitesmoke;
}
.arrow-box{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative; 
}
.arrow-box div{
  width: 50vw;
  height: 10vh;
  position: absolute;
  background-color: rgba(238, 130, 238, 0.118);
  /* 나중에 배경색 투명으로 바꿀 것 */
  z-index: 2;
}
.fa-left-long{
  margin-left: 5vw;
  font-size: 30px;
}
.arrow-box span{
  margin-left: 3vw;
  font-size: 25px;
}
.learning-from-scratch{
  margin-top: 2vh;
  width: 80%;
  height: 10vh;
  border-radius: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 219, 219);
}
.category-box{
  margin-top: 2vh;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-box div{
  margin-btm: 2vh;
  width: 80%;
  height: 10vh;
  border-radius: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 188, 188);
}