.practice-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.movie{
  margin: 1vh 0 2vh 0;
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: yellowgreen;
}
.movie span{
  width: 100%;
  height: 25%;
  font-size: 20px;
  background-color: yellow;
}
.time-box{
  width: 100%;
  height: 72%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}
.timetable{
  margin: 0 0.5vw 0.5vh 0;
  width: 32%;
  height: 49%;
  border: 1px solid rgb(100, 100, 100);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.movie-time{
  width: 100%;
  height: 60%;
  border-bottom: 1px solid rgb(100, 100, 100);
  display: flex;
  align-items: center;
  background-color: violet;
}
.timetable div{
  width: 100%;
  height: 40%;
  display: flex;
  background-color: white;
}
.timetable p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timetable div p:first-child{
  width: 55%;
  height: 100%;
  border-right: 1px solid rgb(100, 100, 100);
}
.timetable p:last-child{
  width: 45%;
  height: 100%;
}