.practice-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(217, 217, 217);
}
.practice-section p{
  font-size: 20px;
  font-weight: 900;
}
.choice{
  width: 97%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choice img {
  width: 150px;
  height: 140px;
}
.set, .single{
  width: 47%;
  height: 100%;
  border: 1px solid rgb(100, 100, 100);
  box-shadow: 0px 5px 5px rgba(52, 52, 52, 0.311);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.cancel{
  width: 90%;
  height: 8%;
  font-size: 18px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(52, 52, 52, 0.441);
  background-color: rgb(245, 134, 31);
}