.header{
  background-color: yellowgreen;
}
main{
  width: 100%;
  height: 90%;
}
.question-box{
  width: 100%;
  height: auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10%;
  background-color: yellow;
  z-index: 3;
}
.fa-chevron-down{
  position: relative;
  left: 38vw;
}
.remove{
  display: none;
}
.practice-section{
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selected-menu{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}
.select-text{
  font-size: 25px;
  font-weight: 900;
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 2;
}
.selected-menu img{
  /* width: 85%;
  height: 90%; */
  position: relative;
  top: 3vh;
}
.order-list{
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  overflow-y: auto;
}
.menu{
  margin: 1vh 2vw 1vh 2.5vw;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
}
.menu div{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu button{
  width: 90%;
  height: 15%;
  border: 1px solid rgb(61, 61, 61);
  background-color: white;
}
.amount{
  width: 99.6%;
  height: 10%;
  border: 1px solid rgb(61, 61, 61);
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}
.minus, .plus{
  width: 25%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.amount-num{
  width: 50%;
  height: 100%;
  border-left: 1px solid rgb(61, 61, 61);
  border-right: 1px solid rgb(61, 61, 61);
  font-size: 17px;  
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
}
.btn-box{
  width: 99.6%;
  height: 8.5%;
  border: 1px solid rgb(61, 61, 61);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  top: 0.9vh;
  background-color: rgba(245, 245, 220, 0.147);
}
.cancel{
  width: 35%;
  height: 100%;
  border: none;
  border-bottom-left-radius: 20px;
  background-color: violet;
}
.add-cart{
  width: 65%;
  height: 100%;
  border: none;
  border-left: 1px solid rgb(61, 61, 61);
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 255, 255, 0.119);
}