@import url('./utils/default.css');
@import url('./utils/font.css');

@import url('./layout/header.css');

main{
    width:90%;
    margin:auto;
    margin-top:20px;
    color:white;
    font-weight: 200;
}

main div.posts_wrapper {
    margin-top:50px;
}

main div.posts_wrapper span.label{
    font-size:24px;
    margin-bottom:30px;
}

main div.posts_wrapper div.posts {
    margin-top:20px;

    display:flex;
    flex-direction: column;
    gap:10px;
}

main div.posts div.post_wrapper {
    background-color:var(--secondary);
    padding:20px 10px;
    border-radius: 10px;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    gap:4px;

    position:relative;
}

main div.posts div.post_wrapper span.title {
    font-size:28px;
}

main div.posts div.post_wrapper span.author {
    font-size:14px;
    margin-left:200px;
    color:lightgrey;
}

main div.posts div.post_wrapper span.explain {
    margin-bottom:20px;
}

main div.posts div.post_wrapper img {
    width:100%;
    margin:auto;
}

main div.posts div.post_wrapper span.tag {
    position:absolute;
    right:10px;
    bottom:10px;

    padding:10px 6px;
    border:5px solid var(--accent);
    border-radius:10px;

    font-size:28px;
    color: var(--accent);
}